################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/GDP
/Source/Gdp.Core/bin/Debug/netstandard2.0
/Source/Gdp.Core/obj/Debug/netstandard2.0
/Source/Gdp.Core/obj
/Source/Gdp.Winform/bin/Debug/sys.log
/Source/Gdp.Winform/bin/Debug/GdpWinUI.pdb
/Source/Gdp.Winform/bin/Debug/GdpWinUI.exe.config
/Source/Gdp.Winform/bin/Debug/GdpWinUI.exe
/Source/Gdp.Winform/bin/Debug/Gdp.Standard.pdb
/Source/Gdp.Winform/bin/Debug/Gdp.Standard.dll
/Source/Gdp.Winform/obj/Debug
/Source/GdpShell/obj
/Source/GdpShell/bin/Debug/netcoreapp3.1
