################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/GDP
/Gdp.Core/bin/Debug/netstandard2.0
/Gdp.Core/obj/Debug/netstandard2.0
/Gdp.Core/obj
/Gdp.Winform/bin/Debug/sys.log
/Gdp.Winform/bin/Debug/GdpWinUI.pdb
/Gdp.Winform/bin/Debug/GdpWinUI.exe.config
/Gdp.Winform/bin/Debug/GdpWinUI.exe
/Gdp.Winform/bin/Debug/Gdp.Standard.pdb
/Gdp.Winform/bin/Debug/Gdp.Standard.dll
/Gdp.Winform/obj/Debug
/GdpShell/obj
/GdpShell/bin/Debug/netcoreapp3.1
